@page
@model BeepBong.Web.Pages.Samples.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.SampleRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.SampleRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.SampleCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.SampleCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Channels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Channels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.BitRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.BitRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.BitRateMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.BitRateMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.BitDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.BitDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Codec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Codec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Compression)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Compression)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.TrackName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.TrackName)
        </dd>
        <img src="@Model.Sample.WaveformImage" />
        <img src="@Model.Sample.SpecImage" />
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sample.SampleId">Edit</a> |
    <a asp-page="../Tracks/Details" asp-route-id="@Model.Sample.TrackId">Back to List</a>
</div>
