@page
@model BeepBong.Web.Pages.Samples.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sample</h4>
<hr />
<div class="row">
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.SampleRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.SampleRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.SampleCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.SampleCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Channels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Channels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.BitRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.BitRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.BitRateMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.BitRateMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.BitDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.BitDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Codec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Codec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Compression)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Compression)
        </dd>
        <img src="@Model.Sample.Waveform" />
        <img src="@Model.Sample.Spectrograph" />
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SampleEdit.SampleId" />
            <div class="form-group">
                <label asp-for="SampleEdit.Notes" class="control-label"></label>
                <!-- <input asp-for="Sample.Notes" class="form-control" /> -->
                <textarea asp-for="SampleEdit.Notes" class="form-control"></textarea>
                <span asp-validation-for="SampleEdit.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Tracks/Details" asp-route-id="@Model.Sample.TrackId">Return to Track Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
