@page
@model BeepBong.Web.Pages.Samples.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="../Upload">Upload a Sample</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].TrackName)
            </th>
            <!-- <th>
                @Html.DisplayNameFor(model => model.Sample[0].Duration)
            </th> -->
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].SampleRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].SampleCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].Channels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].BitRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].BitRateMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].Codec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].Compression)
            </th>
            <!-- <th>
                @Html.DisplayNameFor(model => model.Sample[0].Notes)
            </th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sample) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackName)
            </td>
            <!-- <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td> -->
            <td>
                @Html.DisplayFor(modelItem => item.SampleRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitRateMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compression)
            </td>
            <!-- <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td> -->
            <td>
                <!-- <a asp-page="./Edit" asp-route-id="@item.SampleId">Edit</a> | -->
                <a asp-page="./Details" asp-route-id="@item.SampleId">Details</a> <!-- |
                <a asp-page="./Delete" asp-route-id="@item.SampleId">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
