@page
@model BeepBong.Web.Pages.Broadcasters.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Broadcaster</h4>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Broadcaster.Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Broadcaster.Name)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Broadcaster.Country)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Broadcaster.Country)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Broadcaster.ChannelNames)
                </dt>
                <dd class="col-sm-12">
                    <ul>
                    @foreach (var channel in Model.Broadcaster.ChannelNames)
                    {
                        <li>@Html.DisplayFor(model => channel)</li>
                    }
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-sm-8">
            <dt>
                @Html.DisplayNameFor(model => model.Broadcaster.ImageId)
            </dt>
            <dd>
            @if (!Model.Broadcaster.ImageId.HasValue)
            {
                <i class="text-muted">No logo available</i>
            }
            else
            {
                <img src="/Image?id=@Model.Broadcaster.ImageId" width="auto" height="360px" />
            }
            </dd>
        </div>
    </div>
    
    <form method="post">
        <input type="hidden" asp-for="Broadcaster.BroadcasterId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
