@page
@model BeepBong.Web.Pages.Libraries.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Library</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.AlbumName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.AlbumName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.Catalog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.Catalog)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.MBID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.MBID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Library.LibraryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
