@page
@model BeepBong.Web.Pages.Libraries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Library</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.AlbumName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.AlbumName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.Catalog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.Catalog)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Library.MBID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Library.MBID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Library.LibraryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
