@page
@model BeepBong.Web.Pages.Programmes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Programme</h4>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Programme.Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Programme.Name)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Programme.AirDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Programme.AirDate)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Programme.ChannelName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Programme.ChannelName)
                </dd>
                <!-- TODO: List Related TrackLists -->
            </dl>
        </div>
        <div class="col-sm-8">
            <dl>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Programme.ImageId)
                </dt>
                <dd class="col-sm-12">
                    <img src="@Model.Programme.ImageId" width="auto" height="360px"/>
                </dd>
            </dl>
        </div>
    </div>
    
    <form method="post">
        <input type="hidden" asp-for="Programme.ProgrammeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
