@page
@model BeepBong.Web.Pages.Programmes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Programme[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme[0].Channel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme[0].AudioComposer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme[0].IsLibraryMusic)
            </th>
            <th>
                Tracks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Programme) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AudioComposer)
            </td>
            <td>
                @if (item.IsLibraryMusic) {
					<svg class="i"><use xlink:href="#i-checkmark" /></svg>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackCount)
            </td>
            <td>
                <!-- <a asp-page="./Edit" asp-route-id="@item.ProgrammeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProgrammeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProgrammeId">Delete</a> -->

                <a asp-page="./Edit" asp-route-id="@item.ProgrammeId">
                    <svg class="i"><use xlink:href="#i-edit" /></svg>
                </a> |
                <a asp-page="./Details" asp-route-id="@item.ProgrammeId">
					<svg class="i"><use xlink:href="#i-info" /></svg>
                </a> |
                <a asp-page="./Delete" asp-route-id="@item.ProgrammeId">
					<svg class="i text-danger"><use xlink:href="#i-trash" /></svg>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
