@page
@model BeepBong.Pages.Samples.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sample</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.SampleRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.SampleRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.SampleCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.SampleCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Channels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Channels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.BitRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.BitRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.BitRateMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.BitRateMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Codec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Codec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Compression)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Compression)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Checksum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Checksum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sample.Track)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sample.Track.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sample.SampleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
