@page
@model BeepBong.Pages.Samples.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].SampleRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].Channels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].BitRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].Compression)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].Checksum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample[0].Track)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sample) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compression)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checksum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track.Name)
				@(!String.IsNullOrEmpty(item.Track.Subtitle) ? "(" + item.Track.Subtitle + ")" : String.Empty)
            </td>
            <td>
                <!-- <a asp-page="./Edit" asp-route-id="@item.SampleId">Edit</a> | -->
                <a asp-page="./Details" asp-route-id="@item.SampleId">Details</a> <!-- |
                <a asp-page="./Delete" asp-route-id="@item.SampleId">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
